.sidebar {
  width: 100% !important;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #d4d4d4;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}
