.slider-container {
  width: 200px;
  height: 50px;
  background: linear-gradient(to right, #4caf50, #81c784);
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 80px;
  align-self: center;
  justify-self: center;

  transition: all 3s;

  opacity: 0;

  position: absolute;
  bottom: 40px;
}

.slider-thumb {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.slider-thumb img {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.slider-track {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-label {
  color: white;

  padding-left: 40px;
}

.slider-visible {
  opacity: 1;
  z-index: 2;
}

.slider-visible-with-translucent {
  opacity: 0.2;

  z-index: 2;
}
